## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
cleaned_df= application_df.drop(columns= ['EIN', 'NAME'])

In [3]:
# display first 3 rows
cleaned_df.head(3)

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0

In [4]:
# Determine the number of unique values in each column.
columns_unique_values = cleaned_df.nunique(axis=0)
print(columns_unique_values)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
application_type_value_count = cleaned_df.APPLICATION_TYPE.value_counts()
application_type_value_count

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff = application_type_value_count['T10']
application_types_to_replace = application_type_value_count[application_type_value_count < cutoff].index

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
class_count = application_df['CLASSIFICATION'].value_counts()
class_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
count_greater_than_one = class_count[class_count > 1]
count_greater_than_one

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff = class_count['C2100']
classifications_to_replace = class_count[class_count < cutoff].index

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies_df = pd.get_dummies(application_df)

In [11]:
# Split our preprocessed data into our features and target arrays
y = dummies_df['IS_SUCCESSFUL']
X = dummies_df.drop(['IS_SUCCESSFUL'], axis=1)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [13]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_ft = len(X_train_scaled[0])
first_hidden_nodes = 6
second_hidden_nodes = 2

19612

## Compile, Train and Evaluate the Model

In [14]:
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units= first_hidden_nodes, activation="relu", input_dim=input_ft))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=second_hidden_nodes, activation="relu", input_dim=input_ft))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 6)                 117678

 dense_1 (Dense)             (None, 2)                 14

 dense_2 (Dense)             (None, 1)                 3

=================================================================
Total params: 117,695
Trainable params: 117,695
Non-trainable params: 0
_________________________________________________________________

In [15]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [16]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 13s 12ms/step - loss: 0.6482 - accuracy: 0.6735
Epoch 2/100
804/804 [==============================] - 8s 11ms/step - loss: 0.5803 - accuracy: 0.6993
Epoch 3/100
804/804 [==============================] - 6s 7ms/step - loss: 0.4041 - accuracy: 0.8015
Epoch 4/100
804/804 [==============================] - 6s 7ms/step - loss: 0.3232 - accuracy: 0.8382
Epoch 5/100
804/804 [==============================] - 7s 8ms/step - loss: 0.2864 - accuracy: 0.8476
Epoch 6/100
804/804 [==============================] - 6s 8ms/step - loss: 0.2643 - accuracy: 0.8688
Epoch 7/100
804/804 [==============================] - 5s 6ms/step - loss: 0.2445 - accuracy: 0.9046
Epoch 8/100
804/804 [==============================] - 6s 8ms/step - loss: 0.2331 - accuracy: 0.9062
Epoch 9/100
804/804 [==============================] - 5s 7ms/step - loss: 0.2272 - accuracy: 0.9092
Epoch 10/100
804/804 [==============================] - 6s 8ms/step - loss: 0.2189 - accuracy: 0.9146
Epoch 11/100
804/804 [==============================] - 5s 6ms/step - loss: 0.2121 - accuracy: 0.9188
Epoch 12/100
804/804 [==============================] - 6s 7ms/step - loss: 0.2097 - accuracy: 0.9199
Epoch 13/100
804/804 [==============================] - 6s 7ms/step - loss: 0.2085 - accuracy: 0.9201
Epoch 14/100
804/804 [==============================] - 5s 6ms/step - loss: 0.2073 - accuracy: 0.9207
Epoch 15/100
804/804 [==============================] - 7s 8ms/step - loss: 0.2064 - accuracy: 0.9214
Epoch 16/100
804/804 [==============================] - 5s 6ms/step - loss: 0.2049 - accuracy: 0.9219
Epoch 17/100
804/804 [==============================] - 6s 8ms/step - loss: 0.2035 - accuracy: 0.9225
Epoch 18/100
804/804 [==============================] - 5s 7ms/step - loss: 0.2017 - accuracy: 0.9235
Epoch 19/100
804/804 [==============================] - 6s 8ms/step - loss: 0.1988 - accuracy: 0.9247
Epoch 20/100
804/804 [==============================] - 5s 7ms/step - loss: 0.1965 - accuracy: 0.9264
Epoch 21/100
804/804 [==============================] - 6s 7ms/step - loss: 0.1939 - accuracy: 0.9278
Epoch 22/100
804/804 [==============================] - 6s 7ms/step - loss: 0.1929 - accuracy: 0.9285
Epoch 23/100
804/804 [==============================] - 5s 7ms/step - loss: 0.1927 - accuracy: 0.9282
Epoch 24/100
804/804 [==============================] - 6s 8ms/step - loss: 0.1920 - accuracy: 0.9289
Epoch 25/100
804/804 [==============================] - 5s 7ms/step - loss: 0.1916 - accuracy: 0.9287
Epoch 26/100
804/804 [==============================] - 6s 8ms/step - loss: 0.1928 - accuracy: 0.9275
Epoch 27/100
804/804 [==============================] - 5s 7ms/step - loss: 0.1894 - accuracy: 0.9293
Epoch 28/100
804/804 [==============================] - 6s 8ms/step - loss: 0.1725 - accuracy: 0.9370
Epoch 29/100
804/804 [==============================] - 5s 6ms/step - loss: 0.1707 - accuracy: 0.9383
Epoch 30/100
804/804 [==============================] - 6s 7ms/step - loss: 0.1696 - accuracy: 0.9385
Epoch 31/100
804/804 [==============================] - 6s 7ms/step - loss: 0.1696 - accuracy: 0.9386
Epoch 32/100
804/804 [==============================] - 5s 7ms/step - loss: 0.1691 - accuracy: 0.9389
Epoch 33/100
804/804 [==============================] - 6s 8ms/step - loss: 0.1689 - accuracy: 0.9386
Epoch 34/100
804/804 [==============================] - 5s 7ms/step - loss: 0.1688 - accuracy: 0.9390
Epoch 35/100
804/804 [==============================] - 6s 8ms/step - loss: 0.1685 - accuracy: 0.9389
Epoch 36/100
804/804 [==============================] - 5s 7ms/step - loss: 0.1685 - accuracy: 0.9390
Epoch 37/100
804/804 [==============================] - 6s 8ms/step - loss: 0.1682 - accuracy: 0.9393
Epoch 38/100
804/804 [==============================] - 5s 7ms/step - loss: 0.1675 - accuracy: 0.9396
Epoch 39/100
804/804 [==============================] - 6s 7ms/step - loss: 0.1672 - accuracy: 0.9389
Epoch 40/100
804/804 [==============================] - 6s 7ms/step - loss: 0.1667 - accuracy: 0.9399
Epoch 41/100
804/804 [==============================] - 5s 7ms/step - loss: 0.1665 - accuracy: 0.9402
Epoch 42/100
804/804 [==============================] - 6s 8ms/step - loss: 0.1665 - accuracy: 0.9395
Epoch 43/100
804/804 [==============================] - 5s 7ms/step - loss: 0.1663 - accuracy: 0.9400
Epoch 44/100
804/804 [==============================] - 6s 8ms/step - loss: 0.1664 - accuracy: 0.9404
Epoch 45/100
804/804 [==============================] - 5s 7ms/step - loss: 0.1660 - accuracy: 0.9401
Epoch 46/100
804/804 [==============================] - 6s 8ms/step - loss: 0.1658 - accuracy: 0.9403
Epoch 47/100
804/804 [==============================] - 5s 7ms/step - loss: 0.1657 - accuracy: 0.9402
Epoch 48/100
804/804 [==============================] - 6s 7ms/step - loss: 0.1656 - accuracy: 0.9408
Epoch 49/100
804/804 [==============================] - 6s 8ms/step - loss: 0.1655 - accuracy: 0.9403
Epoch 50/100
804/804 [==============================] - 5s 7ms/step - loss: 0.1655 - accuracy: 0.9406
Epoch 51/100
804/804 [==============================] - 6s 8ms/step - loss: 0.1652 - accuracy: 0.9405
Epoch 52/100
804/804 [==============================] - 5s 7ms/step - loss: 0.1651 - accuracy: 0.9407
Epoch 53/100
804/804 [==============================] - 6s 8ms/step - loss: 0.1648 - accuracy: 0.9402
Epoch 54/100
804/804 [==============================] - 5s 7ms/step - loss: 0.1646 - accuracy: 0.9407
Epoch 55/100
804/804 [==============================] - 6s 8ms/step - loss: 0.1646 - accuracy: 0.9408
Epoch 56/100
804/804 [==============================] - 6s 7ms/step - loss: 0.1643 - accuracy: 0.9401
Epoch 57/100
804/804 [==============================] - 6s 8ms/step - loss: 0.1637 - accuracy: 0.9406
Epoch 58/100
804/804 [==============================] - 6s 7ms/step - loss: 0.1633 - accuracy: 0.9415
Epoch 59/100
804/804 [==============================] - 6s 7ms/step - loss: 0.1631 - accuracy: 0.9414
Epoch 60/100
804/804 [==============================] - 6s 8ms/step - loss: 0.1631 - accuracy: 0.9418
Epoch 61/100
804/804 [==============================] - 6s 7ms/step - loss: 0.1627 - accuracy: 0.9419
Epoch 62/100
804/804 [==============================] - 6s 8ms/step - loss: 0.1624 - accuracy: 0.9417
Epoch 63/100
804/804 [==============================] - 5s 7ms/step - loss: 0.1606 - accuracy: 0.9425
Epoch 64/100
804/804 [==============================] - 6s 8ms/step - loss: 0.1604 - accuracy: 0.9429
Epoch 65/100
804/804 [==============================] - 6s 7ms/step - loss: 0.1601 - accuracy: 0.9426
Epoch 66/100
804/804 [==============================] - 6s 8ms/step - loss: 0.1597 - accuracy: 0.9435
Epoch 67/100
804/804 [==============================] - 6s 7ms/step - loss: 0.1594 - accuracy: 0.9436
Epoch 68/100
804/804 [==============================] - 6s 8ms/step - loss: 0.1587 - accuracy: 0.9434
Epoch 69/100
804/804 [==============================] - 5s 7ms/step - loss: 0.1582 - accuracy: 0.9435
Epoch 70/100
804/804 [==============================] - 6s 8ms/step - loss: 0.1578 - accuracy: 0.9439
Epoch 71/100
804/804 [==============================] - 6s 7ms/step - loss: 0.1577 - accuracy: 0.9437
Epoch 72/100
804/804 [==============================] - 6s 7ms/step - loss: 0.1573 - accuracy: 0.9441
Epoch 73/100
804/804 [==============================] - 6s 8ms/step - loss: 0.1573 - accuracy: 0.9439
Epoch 74/100
804/804 [==============================] - 6s 7ms/step - loss: 0.1569 - accuracy: 0.9442
Epoch 75/100
804/804 [==============================] - 6s 8ms/step - loss: 0.1570 - accuracy: 0.9437
Epoch 76/100
804/804 [==============================] - 6s 7ms/step - loss: 0.1568 - accuracy: 0.9438
Epoch 77/100
804/804 [==============================] - 6s 8ms/step - loss: 0.1569 - accuracy: 0.9441
Epoch 78/100
804/804 [==============================] - 6s 7ms/step - loss: 0.1569 - accuracy: 0.9443
Epoch 79/100
804/804 [==============================] - 7s 8ms/step - loss: 0.1568 - accuracy: 0.9441
Epoch 80/100
804/804 [==============================] - 6s 7ms/step - loss: 0.1567 - accuracy: 0.9443
Epoch 81/100
804/804 [==============================] - 6s 8ms/step - loss: 0.1566 - accuracy: 0.9442
Epoch 82/100
804/804 [==============================] - 6s 7ms/step - loss: 0.1566 - accuracy: 0.9443
Epoch 83/100
804/804 [==============================] - 6s 8ms/step - loss: 0.1564 - accuracy: 0.9445
Epoch 84/100
804/804 [==============================] - 6s 7ms/step - loss: 0.1564 - accuracy: 0.9447
Epoch 85/100
804/804 [==============================] - 6s 8ms/step - loss: 0.1562 - accuracy: 0.9447
Epoch 86/100
804/804 [==============================] - 6s 7ms/step - loss: 0.1557 - accuracy: 0.9450
Epoch 87/100
804/804 [==============================] - 6s 7ms/step - loss: 0.1551 - accuracy: 0.9452
Epoch 88/100
804/804 [==============================] - 6s 8ms/step - loss: 0.1552 - accuracy: 0.9451
Epoch 89/100
804/804 [==============================] - 6s 7ms/step - loss: 0.1571 - accuracy: 0.9440
Epoch 90/100
804/804 [==============================] - 6s 8ms/step - loss: 0.1631 - accuracy: 0.9419
Epoch 91/100
804/804 [==============================] - 6s 7ms/step - loss: 0.1498 - accuracy: 0.9476
Epoch 92/100
804/804 [==============================] - 6s 8ms/step - loss: 0.1459 - accuracy: 0.9491
Epoch 93/100
804/804 [==============================] - 6s 7ms/step - loss: 0.1444 - accuracy: 0.9488
Epoch 94/100
804/804 [==============================] - 6s 8ms/step - loss: 0.1426 - accuracy: 0.9500
Epoch 95/100
804/804 [==============================] - 6s 7ms/step - loss: 0.1422 - accuracy: 0.9495
Epoch 96/100
804/804 [==============================] - 6s 8ms/step - loss: 0.1403 - accuracy: 0.9504
Epoch 97/100
804/804 [==============================] - 6s 7ms/step - loss: 0.1382 - accuracy: 0.9514
Epoch 98/100
804/804 [==============================] - 6s 8ms/step - loss: 0.1359 - accuracy: 0.9516
Epoch 99/100
804/804 [==============================] - 6s 7ms/step - loss: 0.1307 - accuracy: 0.9540
Epoch 100/100
804/804 [==============================] - 6s 8ms/step - loss: 0.1270 - accuracy: 0.9551

In [17]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5513 - accuracy: 0.7608 - 770ms/epoch - 3ms/step
Loss: 0.5512964725494385, Accuracy: 0.7608163356781006

In [20]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity.h5')